/*===================RESET==============*/
*{margin:0; padding: 0; font-size:100%; border:none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Lato', sans-serif;}
body{background-color: #3CB371;}
a {text-decoration: none;}
ul {list-style: none;}
img{max-width: 100%;}
/*cabecalho*/

/*logar*/
.login{
	
margin-top: 10%;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color:#3CB371;
	top: 0;
	left: 0;
}
.login ul{
	width: 100%;
	float: left;
	text-align: center;
}
.title02{
	font-size: 1.5em;
	width: 100%;
	
	color: #fff;
}
.login li {

	margin-bottom: 8px;
}
.login li a {
	border-radius: 50px;
	font-size: 2em;
	color: #fff;
	padding: 1.5% 3%;
}
.login li a input{
	width: 25%;
	text-align: center;
	border-radius: 10px;
}
.login ul button{
	margin-left: 3px;
	height: 40px;
	width: 96%;
	border-radius: 10px;
}
.login ul button:hover{
	cursor: pointer;
}
.btn-closess{
	font-size: 1.5em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin: 2% 3% 0 0;
}
.login ul button{
	height: 40px;
	width: 25%;
	border-radius: 10px;
}